<div class="row">
  <div class="col-md-6">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Edit Product</h5>
      </div>
      <div class="card-body" *ngIf="product">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Product Id</label>
                <input type="text" class="form-control" disabled="" placeholder="Id here" value="{{product.id}}">
              </div>
            </div>
            <div class="col-md-4 ml-auto">
              <div class="image" style="height: auto;">
                <img src="{{product.productImg}}" alt="{{product.productImg}}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Product Name</label>
                <input type="text" class="form-control" placeholder="Product's Name here" value="{{product.productName}}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Product Comment</label>
                <input type="text" class="form-control textarea" 
                placeholder="Product's comment here. Lorem ipsum dolor sit amet." 
                value="{{product.productComment}}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Product Image Url</label>
                <input type="text" class="form-control" placeholder="Product's Url here" value="{{product.productImg}}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 text-center">
              <div class="update ml-auto mr-auto">
                <button (click)="updateProduct($event)" type="submit" class="btn btn-primary btn-round">Update Product</button>
              </div>
            </div>
            <div class="col-md-6 text-center">
              <div class="update ml-auto mr-auto">
                <button type="delete" class="btn btn-danger btn-round">Delete Product</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
