<div class="row">
  <div class="col-md-6">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Edit Product</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Product Id</label>
                <input type="text" class="form-control" disabled="" placeholder="Id here" value="Id">
              </div>
            </div>
            <div class="col-md-4 ml-auto">
              <div class="image" style="height: auto;">
                <img src="./assets/img/jan-sendereks.jpg" alt="...">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Product Name</label>
                <input type="text" class="form-control" placeholder="Home Address" value="Product's Name here">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Product Comment</label>
                <textarea class="form-control textarea">Product's comment here. Lorem ipsum dolor sit amet.</textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Product Image Url</label>
                <input type="text" class="form-control" placeholder="Home Address" value="Product's Url here">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 text-center">
              <div class="update ml-auto mr-auto">
                <button (click)="updateProduct($event)" type="submit" class="btn btn-primary btn-round">Update Product</button>
              </div>
            </div>
            <div class="col-md-6 text-center">
              <div class="update ml-auto mr-auto">
                <button type="delete" class="btn btn-danger btn-round">Delete Product</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
