<div class="row">
  <div class="col-md-6">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Edit Site</h5>
      </div>
      <div *ngIf="site" class="card-body">
        <form [formGroup]="siteForm">
          <div class="row">
            <div class="col-md-6">
    
                <label>Site Id</label>
                <input type="text" class="form-control" formControlName="formSiteId" disabled="" placeholder="Id here" name="formSiteId">
              
            </div>
            <div class="col-md-4 ml-auto">
              <div class="image" style="height: auto;">
                <img src="{{site.siteImg}}" alt="{{site.siteImg}}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
             
                <label>Site Name</label>
                <input type="text" class="form-control" formControlName="formSiteName" placeholder="siteName here" name="formSiteName">
              </div>
            
          </div>
          <div class="row">
            <div class="col-md-12">
              
                <label>Site Url</label>
                <input type="text" class="form-control" formControlName="formSiteUrl"  placeholder="siteUrl here" name="formSiteUrl">
              </div>
            
          </div>
          <div class="row">
            <div class="col-md-12">
              
                <label>Site Image Url</label>
                <input type="text" class="form-control"  formControlName="formSiteImg" placeholder="siteImg url here" name="formSiteImg">
              
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
             
                <label>Site's Xpath</label>
                <input type="text" class="form-control textarea"  formControlName="formSiteXpath" placeholder="Xpath here" name="formSiteXpath">
              
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 text-center">
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-primary btn-round" 
                (click)="updateSite($event)"
                [routerLink]="['/sitelist']">Update Site</button>
              </div>
            </div>
            <div class="col-md-6 text-center">
              <div class="update ml-auto mr-auto">
                <button type="delete" class="btn btn-danger btn-round"
                (click)="deleteSite($event)" [routerLink]="['/sitelist']">Delete Site</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
