<div class="row">
  <div class="col-md-4" [routerLink]="['/createproduct']">
    <button type="button" class="btn btn-success btn-round" style="margin-top: 0px;">Add A Product here</button>
  </div>
</div>
<div class="row"><p></p><p></div>

<div class="row">

<div class="col-md-4" *ngFor = 'let product of pageproducts.content'>
  <div class="card card-user">
    <div class="image" style="height: auto;">
      <img src="{{product.productImg}}" alt="{{product.productName}}">
    </div>
    <div class="card-body">
      <div class="author" style="margin-top: 0px;">
          <h5 class="title"> {{product.productName}}</h5>
      </div>
      <p class="description text-center">
        {{product.productComment}}
      </p>
    </div>
    <div class="card-footer">
      <hr>
      <div class="button-container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-6 ml-auto">
            <h5>Id
              <br>
              <small>{{product.id}}</small>
            </h5>
          </div>
          <div class="col-lg-3 mr-auto" style="cursor: pointer;"> 
            <div [routerLink]="['/productedit',product]">
            <h5>Edit
              <br>
              <small>Click</small>
            </h5></div>
          </div>
          <div class="col-lg-3 mr-auto" style="cursor: pointer;">
            <div [routerLink]="['/table']">
            <h5>Price
              <br>
              <small>Click</small>
            </h5></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
</div>

  <div class="d-flex justify-content-center">
    <ngb-pagination 
    (pageChange)="passPage($event)"
    [(pageSize)]="pageSize" 
    [(collectionSize)]="size" 
    [(page)]="page"></ngb-pagination>
  
    Records per page
      <input [(ngModel)]="pageClient" (keydown.enter)="pageSizeInput($event)" 
      class="form-control" type="text" style="height: fit-content; width:50px;">
  
</div>

  <!--
<div>
  <mat-paginator [(length)]="size"
              [pageSize]="3" 
              [pageSizeOptions]="[3, 6, 12, 120]"
              [(page)]="page = passPage($event)">
</mat-paginator>
</div>
-->