
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6" style="cursor: pointer;">
    <div class="card card-stats"  [routerLink]="['/productlist']">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-tag-content text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">List</p>
              <p class="card-title" style="font-size: 0.85em;">Products
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
           Products that registered our system
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6" style="cursor: pointer;">
    <div class="card card-stats"  [routerLink]="['/sitelist']">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-cart-simple text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">List</p>
              <p class="card-title" style="font-size: 0.75em;">E-Commerce Sites
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
           E-commerce sites that registered our system
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6" style="cursor: pointer;">
    <div class="card card-stats"  [routerLink]="['/productpaths']">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-vector text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">List</p>
              <p class="card-title" style="font-size: 0.85em;">Product Links
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
           Our products' links that goes to e-commerce sites
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6" style="cursor: pointer;">
    <div class="card card-stats"  [routerLink]="['/table']">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8" >
            <div class="numbers">
              <p class="card-category">List</p>
              <p class="card-title">Prices
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
           See all prices now
        </div>
      </div>
    </div>
  </div>
</div>
