<div class="row">
  <div class="col-md-4">
    <button type="button" 
    [routerLink]="['/create-productpath']"
    class="btn btn-success btn-round" style="margin-top: 0px;">Add A Product Path here</button>
  </div>
  <div class="col-md-4 ml-auto">
    <form>
      <div class="input-group no-border">
        <input type="text" 
        [(ngModel)]="searchKey" (keydown.enter)="searching($event)"
        class="form-control" placeholder="Search...">
        <div class="input-group-append">
          <div class="input-group-text">
            <i class="nc-icon nc-zoom-split"></i>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row"><p></p><p></div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Product Paths</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Id
              </th>
              <th>
                Product
              </th>
              <th>
                Site
              </th>
              <th>
                Edit
              </th>
              <th>
                ProductPath
              </th>
            </thead>
            <tbody >
              <tr *ngFor ='let productpath of pageproductaddresses.content'>
                <td>
                  {{productpath.id}}
                </td>
                <td>
                  {{productpath.product.productName}}
                </td>
                <td>
                  {{productpath.site.siteName}}
                </td>
                <td [routerLink]="['/productpathedit',productpath]" style="cursor: pointer;" >
                  Edit
                </td>
                <a href="{{productpath.productPath}}"><td>
                  {{productpath.productPath}}
                </td></a>   
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <ngb-pagination 
  (pageChange)="passPage($event)"
  [(pageSize)]="pageSize" 
  [(collectionSize)]="size" 
  [(page)]="page"
  [rotate]="true" [boundaryLinks]="true">
</ngb-pagination>
    <label style="font-size: .8571em;
    color: #9a9a9a;
    margin: 5px;">Records per page: </label>
    <input [(ngModel)]="pageClient" (keydown.enter)="pageSizeInput($event)" 
    value={{pageSize}}
    class="form-control" type="text" style="height: fit-content; width:50px;">
 
</div>
 