<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="https://migros.com.tr">
                        Migros Ticaret A.Ş.
                    </a>
                </li>
                <li>
                    <a href="http://github.com/gokayay">
                       Github
                    </a>
                </li>
                <li>
                    <a href="https://linkedin.com/in/gokayay">
                        Linkedin
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, made by <a href="https://linkedin.com/in/gokayay">Gökay AY</a>
        </div>
    </div>
</footer>
