<div class="row">
  <div class="col-md-6">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Edit Product's Path</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Product Path Id</label>
                <input type="text" class="form-control" disabled="" placeholder="Id here" value="Id">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Product Id</label>
                <input type="text" class="form-control" disabled="" placeholder="" value="Product's Id here">
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <label>Product Name</label>
                <input type="text" class="form-control" disabled="" placeholder="" value="Product's Name here">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Site Id</label>
                <input type="text" class="form-control" disabled="" placeholder="" value="Site's Id here">
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <label>Site Name</label>
                <input type="text" class="form-control" disabled="" placeholder="" value="Site's Name here">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Product's Path</label>
                <textarea class="form-control textarea">Product's url from e-commerce sites here. Lorem ipsum dolor sit amet.</textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Update Product Path</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
